* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  width: 100%;
  height: 100vh;
}

.chat-toggle {
  width: 50px;
  height: 50px;
  background-color: #5e2bf8;
  border-radius: 50%;
  display: grid;
  place-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  border: none;
  z-index: 99;
  animation: jump-shaking 2s infinite;
  animation-delay: 2s;
}

@keyframes jump-shaking {
  0% {
    transform: translateX(0);
  }
  5% {
    transform: translateY(-9px);
  }
  10% {
    transform: translateY(-9px) rotate(17deg);
  }
  15% {
    transform: translateY(-9px) rotate(-17deg);
  }
  20% {
    transform: translateY(-9px) rotate(17deg);
  }
  25% {
    transform: translateY(-9px) rotate(-17deg);
  }
  40% {
    transform: translateY(0) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

.chat-toggle:hover {
  background-color: #3307f9;
}

.chat-toggle svg {
  width: 20px;
  fill: #fff;
}

.chat-container {
  visibility: hidden;
  width: 350px;
  height: 480px;
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  position: fixed;
  bottom: 80px;
  right: 20px;
  opacity: 0;
  transform: scale(0.8) translate(0, 10%);
  transform-origin: bottom right;
  transition: all 0.1s ease, transform 0.5s ease;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.chat-container.fullscreen {
  width: 100%;
  height: 100vh;
  bottom: 0;
  right: 0;
  border-radius: 0;
}

.chat-container.fullscreen .chat-header,
.chat-container.fullscreen .chat-messages,
.chat-container.fullscreen .chat-input-container {
  padding-inline: 15%;
}

.chat-container.show-chat {
  opacity: 1;
  transform: scale(1) translate(0, 0);
  visibility: visible;
}

@media screen and (max-width: 480px) {
  .chat-container {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    border-radius: 0;
  }
}

.chat-header {
  height: 12.5%;
  width: 100%;
  background-color: #5e2bf8;
  padding: 10px;
  display: flex;
  align-items: center;
  border-bottom: solid 1px #dcdcdc;
}

.chat-avatar {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 10px;
  display: grid;
  place-items: center;
}

.chat-avatar svg {
  width: 1.5em;
  fill: #3307f9;
}

.chat-name {
  color: #fff;
  font-size: 1rem;
}

.chat-subname {
  font-size: 0.7rem;
  color: #dcdcdc;
}

.chat-control {
  display: flex;
  margin-left: auto;
  gap: 5px;
}

.fullscreen-button,
.hide-button {
  width: 40px;
  height: 40px;
  padding: 12px;
  border-radius: 50%;
  border: none;
  background-color: #5e2bf8;
  fill: #fff;
  cursor: pointer;
  display: grid;
}

.fullscreen-button:hover,
.hide-button:hover {
  background-color: #3307f9;
}

.chat-messages {
  padding: 5px 10px;
  padding-inline: 15px;
  height: 69%;
  overflow-y: auto;
  background-color: #fcfaff;
  position: relative;
}

.chat-messages .scroll-down {
  width: 30px;
  height: 30px;
  background: linear-gradient(
    90deg,
    rgb(57, 52, 157) 0%,
    rgb(45, 45, 173) 35%,
    rgb(0, 64, 255) 100%
  );
  border-radius: 50%;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  place-content: center;
  position: fixed;
  bottom: 20%;
  right: 50%;
  z-index: 99;
  cursor: pointer;
  transition: opacity 0.3s;
}

.chat-messages .scroll-down.hide {
  opacity: 0;
  pointer-events: none;
}

.chat-messages .scroll-down:hover {
  background: #3307f9;
}

.chat-messages .scroll-down svg {
  width: 12px;
  fill: #fff;
}

.chat-attachment {
  place-self: flex-end;
  width: 150px;
  background-color: #5e2bf8;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px 0 10px 10px;
}

.chat-message-left {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  place-self: flex-start;
  margin: 5px 0 5px 0;
}

.chat-message-right {
  display: flex;
  flex-direction: column;
  width: 90%;
  place-self: flex-end;
  margin: 7px 0 7px 0;
}

.chat-message-right .chat-message-content {
  place-self: flex-end;
  min-width: 50px;
}

.chat-message-left .chat-message-content.thinking {
  display: flex;
  gap: 3px;
  margin: 2px 0 2px 0;
  padding: 12px;
  background-color: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 0 5px 5px 5px;
  width: max-content;
  max-width: 95%;
  white-space: pre-wrap;
}

.chat-message-right .chat-message-content {
  white-space: pre-wrap;
}

.chat-message-content.thinking .dot {
  width: 7px;
  height: 7px;
  background-color: #9b9a9a;
  border-radius: 50%;
  animation: pulse 0.8s infinite ease-in-out;
  opacity: 0.7;
}

.chat-message-content.thinking .dot:nth-child(1) {
  animation-delay: 0.2s;
}
.chat-message-content.thinking .dot:nth-child(2) {
  animation-delay: 0.3s;
}
.chat-message-content.thinking .dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes pulse {
  0%,
  50% {
    transform: translateY(-3px);
  }

  30% {
    opacity: 0.4;
    transform: translateY(-3px);
  }
  44% {
    opacity: 0.2;
  }
}

.chat-message-content {
  display: flex;
  margin: 2px 0 2px 0;
  padding: 12px 7px;
  font-size: 0.85rem;
  color: #121212;
  width: max-content;
  max-width: 95%;
}

.chat-message-content h1 {
  font-size: 1.3rem;
}

.chat-message-content h2 {
  font-size: 1.1rem;
}

.chat-message-content h3 {
  font-size: 1rem;
}

.chat-message-content p {
  margin-bottom: 5px;
}

.chat-message-content ul,
.chat-message-content ol {
  padding-left: 20px !important;
}

.chat-message-content pre {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
}

.chat-message-content code {
  font-family: "Courier New", Courier, monospace;
  padding: 2px 4px;
  border-radius: 3px;
}

.chat-message-content .table-responsive {
  overflow-x: auto;
  width: 100%;
}

.chat-message-content table {
  width: 100%;
  border-collapse: collapse;
  margin: 13px 0;
  font-size: 0.8rem;
  text-align: left;
  overflow-x: auto;
}

.chat-message-content table thead tr th,
.chat-message-content table tbody tr td {
  padding: 7px 10px;
  border: 1px solid #ddd;
}

.chat-message-content table thead tr th {
  background-color: #f2f2f2;
  color: #333;
}

.chat-message-content table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.chat-message-content table tbody tr:hover {
  background-color: #f1f1f1;
}

.chat-message-avatar svg {
  width: 15px;
  fill: #5e2bf8;
}

.chat-message-left .chat-message-avatar {
  place-self: flex-start;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-bottom: 2px;
}

.chat-message-left .chat-message-content {
  color: #333;
  background-color: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 0 10px 10px 10px;
  display: inline-block;
}

.chat-message-right .chat-message-content {
  color: #fff;
  background-color: #5e2bf8;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px 10px 0 10px;
}

.chat-input-container {
  height: 15%;
  width: 100%;
  display: flex;
  border-top: 1px solid #dcdcdc;
  padding-top: 3px;
  position: relative;
}

.chat-input-container:valid .chat-button-container .chat-send-button {
  display: block;
}

.chat-input-text {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  border: none;
  outline: none;
  overflow-y: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.85rem;
  padding-top: 12px;
  padding-bottom: 12px;
  resize: none;
}

.chat-button-container {
  display: flex;
  padding-top: 7px;
  padding-inline: 10px;
  height: 100%;
  gap: 2px;
}
.chat-attachment-button,
.chat-emoji-button,
.chat-send-button {
  width: 3.3em;
  height: 3.3em;
  background-color: transparent;
  border-radius: 50%;
  font-size: 0.6rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.chat-send-button {
  display: none;
  background-color: #5e2bf8;
}

.chat-attachment-button svg,
.chat-emoji-button svg,
.chat-send-button svg {
  width: 13px;
  fill: #5e2bf8;
  pointer-events: none;
}

.chat-send-button svg {
  fill: #fff;
}

.chat-send-button:hover {
  background-color: #3307f9;
}

.chat-attachment-button:hover,
.chat-emoji-button:hover {
  background-color: #e4ddff;
}

.chat-input-container .file-upload-wrapper {
  display: none;
}

.chat-input-container .file-upload-wrapper.show {
  display: block;
  position: absolute;
  text-align: center;
  top: -170px;
  left: 0;
  width: 100%;
  height: 165px;
  padding: 7px;
  background-color: #fff;
}

.chat-input-container .file-upload-wrapper .delete-attachment {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.file-upload-wrapper .delete-attachment:hover {
  background-color: #e4ddff;
}

.file-upload-wrapper .delete-attachment svg {
  width: 12px;
  fill: #5e2bf8;
}

.chat-input-container .file-upload-wrapper .attachment {
  max-width: 320px;
  height: 150px;
}

.developed-by {
  font-size: 0.6rem;
  color: #858585;
  text-align: center;
  padding-top: 2px;
}

.developed-by a {
  color: #5e2bf8;
  text-decoration: none;
}

em-emoji-picker {
  position: absolute;
  top: -395px;
  right: -20px;
  transform-origin: center center;
  transform: scale(0.8);
  visibility: hidden;
}

body.show-emoji-picker em-emoji-picker {
  visibility: visible;
}
